{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}


{% block content %}
<body>
  <div class="side-bar shadow">
    <div class="menu_intro" style="padding: 24px">
      <h3 class="w3-bar-item">Worksheet Options</h3>
      <h6 style="color: rgb(94, 94, 94)">Algebra worksheet generater</h6>
      
      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Problem Type Options</button>
          <div id="myDropdown" class="dropdown-content">
            
            <div class="num_problem">
              <label for="tentacles" class="num-problem-font">Number of Problems *</label>
              <input type="number" id="tentacles" name="tentacles" min="10" max="1000">
            </div>

            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round" onclick="btnadd()"></span>
              </label>
              <span>Addition</span>

              <div id="AddDropdown" class="Adddropdown-content">
                <p>sad</p>
              </div>
            </div>

            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>Subtraction</span>
            </div>

            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>Multiplication</span>
            </div>

            <div class="switch-box">
              <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
              </label>
              <span>Division</span>
            </div>

          </div>
      </div>

      <div class="dropdown">
        <button onclick="resetLocation()" class="dropbts" id="second-opt">Problem Type Options</button>
      </div>

    </div>
  </div>

  <!--Generate button box-->
  <div class="btn_generate shadow">
    <button class="btn-create shadow" onclick="send_info()">GENERATE WORKSHEET</button>
  </div>
</body>
{% endblock %}