{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="login"> 
    <h2 class="login-header">Sign Up</h2>

    <form method="POST" name="signup_form" class="signup-container" action="">
      <p><input type="text" placeholder="User name" name="name" required/></p>
      <p><input type="email" placeholder="Email" name="email" required/></p>
      <p><input type="password" placeholder="Password" name="password" required/></p>
      <p><input type="submit" value="Sign Up" class="btn"/></p>
    </form>

  </div>
{% endblock %}