<!--
  This load page should have only PUT methods since it call the data from the server.
  It should not have any POST because it can cause of making duplicate wkst data. 
-->
{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<body onload="separate();">
  <!--MASTER LOCATION TO SAVE DATA-->
  <div style="display: none;">
    <p id="data">{{ userinfo }}</p>
  </div>

  <div class="side-bar shadow" style="float: left; height: 100%;">
    <div class="menu_intro" style="padding: 24px">
      <h3 class="w3-bar-item" id="username"></h3>

        <button type="button" onclick="studentopt()" class="dropbtn">Students</button>
        <button type="button" onclick="wkstopt()" class="dropbtn">Worksheets</button>
        <button type="button" onclick="customopt()" class="dropbtn">Custom Problems</button>
        <button type="button" onclick="infoopt()" class="dropbtn">Setting</button>

    </div>
  </div>


  <div class="wks-gen" style="width: 75%; float: right;" id="wkst">
    <div class = "col-worksheet">

      <latex-js baseURL="https://cdn.jsdelivr.net/npm/latex.js/dist/">
      <div class="wks-info2">

        <div> <p class= "wks-title"><span id="txt-title"></span></p> </div>
        <div> <p class= "wks-desc"><span id="txt-desc"></span></p> </div>
      </div>
    </latex-js>

      <div id="wks-problems">
      </div>

    </div>
  </div>
</body>
{% endblock %}
