{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
<div class="login">
    
    <h2 class="login-header">Log in</h2>
  
    <form class="login-container" method="POST">
      <p><input name = "email" type="email" placeholder="Email" required/></p>
      <p><input name = "password" type="password" placeholder="Password" required/></p>
      <p><input type="submit" value="Login"/></p>
    </form>
  </div>
{% endblock %}