{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<body onload="updatedpdf()">

  <style>
    div.h {margin: .5em 0;max-width: 70em;}
    pre {padding: .5em;}
  </style>

  <!--MASTER LOCATION TO SAVE DATA-->
  <div style="display: none;">
    <input type="text" id="seed" value="{{ probs }}">
    <input type="text" id="answ" value="{{ answ }}">
    <input type="text" id="Nansw" value="{{ Nansw }}">
  </div>

  <div class="side-bar shadow" style="float: left">
    <div class="menu_intro" style="padding: 24px">
      <h3 class="w3-bar-item">Worksheet Options</h3>
      <h6 style="color: rgb(94, 94, 94)">Prealgebra worksheet generater</h6>
      <form novalidate style="height: 0px" method = "PUT"></form>
      <div class="dropdown">
        <button type="button" onclick="btnopt2()" class="dropbtn sec-opt" id="second-opt">Display Options</button>
          <div id="myDropdown2" class="dropdown-content" style="margin-top: 50px">

            <div class="txt-page">
              <label for="pdfdesc" class="num-problem-font">Number of column* </label>
              <input type="number" id="numcol" name="numprob" min="2" max="5" value="2" required/>
            </div>

            <div class="txt-name">
              <label for="studnetName" class="num-problem-font">Row space* </label>
              <input type="number" id="numrow" name="numrow" min="2" max="99" value="2" required/>
            </div>

            <div class="txt-date">
              <label for="dueDate" class="num-problem-font">Due Date* </label>
              <input type="date" id="dueDate" name="dueDate">
            </div>

            <div class="txt-title">
              <label for="pdftitle" class="num-problem-font">Enter the title* </label>
              <input type="text" id="pdftitle" name="pdftitle" value="Worksheet Title">
            </div>

            <div class="txt-desc">
              <label for="pdfdesc" class="num-problem-font">Instructions* </label>
              <textarea type="text" id="pdfdesc" name="pdfdesc" rows="10" cols="30">Here are the instructions</textarea>
            </div>

          </div>
      </div>

    </div>
  <!--Generate button box-->
  <button type="submit" formmethod="post" class="upload"> <i class="fa fa-upload fa-2x"></i></button>
  <div class="btn_generate shadow">
    <button type="button" class="btn-create shadow" onclick="changecol()">Update the worksheet</button>
    <button type="button" class="ansbtn" onclick="showanswer()">answer</button>
    <button type="button" class="ansbtn2" onclick="showanswer2()">answer2</button>
  </div>
</form>
  <!--End of the vertical option bar-->
</div>

<div class="h">
  <pre id="pretag" style="display: none;">
  </pre>
</div>

  <script>
    updatedpdf();
    window.onload = function() {
    var runlatexLatexcgiURI="https://texlive.net/cgi-bin/latexcgi";
    var f2 = document.createElement("span");
		    f2.innerHTML="<form style=\"display:none\" id=\"form2-pre" + 0 +
			"\" name=\"form2-pre" + 0 +
			"\" enctype=\"multipart/form-data\" action=\"" +
      runlatexLatexcgiURI +
			"\" method=\"post\" target=\"pre" + 0 +
			"ifr\"></form>";
    latexcgi('pre0');
    }
  </script>

<script>
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropbtn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
  </script>

</body>
{% endblock %}
