* {
  box-sizing: border-box;
}

h4 {
  display: block;
  margin-block-start: 0.6em;
  margin-block-end: 0.3em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  /* overflow: auto;
  white-space: nowrap; */
}

.navbar a {
  float: left;
  font-size: 14px;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.pre-dropdown {
  float: left;
  overflow: hidden;
}

.pre-dropdown .dropbtn {
  font-size: 10px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 14px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.pre-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  left: 0;
  top: 42px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.pre-content .header {
  background: red;
  padding: 16px;
  color: white;
}

.pre-dropdown:hover .pre-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 16.66%;
  padding: 8px;
  background-color: #ccc;
  height: 456px;
}

.column a {
  float: none;
  color: black;
  padding: 8px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.column a:hover {
  background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}