#sortable {
    margin-top: 10px;
    margin-left: 500px;
    background-color: white;
}

#table {
    margin-top: 10px;
    margin-left: 500px;
    background-color: white;
}

#tablebtn {
    margin-left: 500px;
}

.selected{
    background-color: rgb(175, 175, 175); 
    color: #fff; 
    font-weight: bold;
}

.btn-back {
    float: right;
    margin-right: 5px;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }