.card-panel.hoverable {
  transform-style: preserve-3d;
  color: white;
  background-color:  rgb(65, 65, 105);
  width: 300px;
  height: 300px;
  float: left;
  margin: 10px;
}
.card-panel.hoverable.small {
  height: 300px;
}

.card-panel.hoverable .card-panel-header {
  position: relative;
  top: 50%;
  transform: translateY(-50%) scale(1.5);
  transition: top 0.25s 0.1s, transform 0.25s ease 0.1s;
}
.card-panel.hoverable .card-panel-icon {
  display: block;
  text-align: center;
}
.card-panel.hoverable .card-panel-caption {
  display: block;
  text-align: center;
  font-size: 1rem;
}
.card-panel.hoverable .card-panel-content {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 0.25s, opacity 0.8s;
}
.card-panel.hoverable:hover .card-panel-header {
  transform: translateY(0) scale(1);
  top: 0;
}
.card-panel.hoverable:hover .card-panel-content {
  transform: translateY(0);
  opacity: 1;
  color: white;
}

