{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}
<body>
  <form novalidate style="height: 0px" method = "POST">

  <!--MASTER LOCATION TO SAVE DATA-->
  <div style="display: none;">
    <p id="seed">{{ seed }}</p>
    <input type="text" id="master" name="master">
  </div>

  <div class="side-bar shadow" style="float: left">
    <div class="menu_intro" style="padding: 24px">
      <h3 class="w3-bar-item">Worksheet Options</h3>
      <h6 style="color: rgb(94, 94, 94)">Prealgebra worksheet generater</h6>
      <div class="dropdown">
        <button type="button" onclick="btnop1()" class="dropbtn">Problem Type Options</button>
        <div id="myDropdown" class="dropdown-content" style="margin-top: 0px">

            <div class="switch-box">

              <span>Easy</span>

              <div class="opts">
                <div class="num_problem">
                  <label for="numprob" class="num-problem-font">Number of Problems*</label>
                  <input type="number" id="Enumprob" name="numprob" min="1" max="100" value="1" required/>
                </div>

                <div class="txt-randnum">
                  <div style="float: left">
                    <label for="randnum" class="num-problem-font">min* </label>
                    <input type="number" id="Eminnum" name="min" min="100" max="899" value="100" required/>
                  </div>

                  <div style="float: right">
                    <label for="randnum" class="num-problem-font">max* </label>
                    <input type="number" id="Emaxnum" name="max" min="101" max="900" value="200" required/>
                  </div>
                </div>
             </div>
            </div>

            <div class="switch-box">

              <span>Normal</span>
              <div class="opts">
                <div class="num_problem">
                  <label for="numprob" class="num-problem-font">Number of Problems*</label>
                  <input type="number" id="Mnumprob" name="numprob" min="1" max="100" value="0" required/>
                </div>

                <div class="txt-randnum">
                  <div style="float: left">
                    <label for="randnum" class="num-problem-font">min* </label>
                    <input type="number" id="Mminnum" name="min" min="100" max="899" value="300" required/>
                  </div>

                  <div style="float: right">
                    <label for="randnum" class="num-problem-font">max* </label>
                    <input type="number" id="Mmaxnum" name="max" min="101" max="900" value="400" required/>
                  </div>
                </div>
             </div>
            </div>

            <div class="switch-box">

              <span>Decimal</span>
              <div class="opts">
                <div class="num_problem">
                  <label for="numprob" class="num-problem-font">Number of Problems*</label>
                  <input type="number" id="Hnumprob" name="numprob" min="1" max="100" value="0" required/>
                </div>

                <div class="txt-randnum">
                  <div style="float: left">
                    <label for="randnum" class="num-problem-font">min* </label>
                    <input type="number" id="Hminnum" name="min" min="100" max="899" value="300" required/>
                  </div>

                  <div style="float: right">
                    <label for="randnum" class="num-problem-font">max* </label>
                    <input type="number" id="Hmaxnum" name="max" min="101" max="900" value="300" required/>
                  </div>
                </div>
             </div>
            </div>

        </div>
      </div> <!--Main close of the first drop down-->

      <div class="dropdown">
        <button type="button" onclick="btnopt2()" class="dropbtn sec-opt" id="second-opt">Display Options</button>
          <div id="myDropdown2" class="dropdown-content" style="margin-top: 50px">

            <div class="txt-page">
              <label for="pdfdesc" class="num-problem-font">problems each page* </label>
              <input type="number" id="numprob" name="numprob" min="1" max="20" required/>
            </div>

            <div class="txt-name">
              <label for="studnetName" class="num-problem-font">Student Name* </label>
              <input type="text" id="studnetName" name="studnetName">
              <button type="button" class="btn" style="float: right">Update</button>
            </div>

            <div class="txt-date">
              <label for="dueDate" class="num-problem-font">Due Date* </label>
              <input type="date" id="dueDate" name="dueDate">
              <button type="button" class="btn" style="float: right">Update</button>
            </div>

            <div class="txt-title">
              <label for="pdftitle" class="num-problem-font">Enter the title* </label>
              <input type="text" id="pdftitle" name="pdftitle" value="Naming Decimal Places">
              <button type="button" class="btn" style="float: right">Update</button>
            </div>

            <div class="txt-desc">
              <label for="pdfdesc" class="num-problem-font">Instructions* </label>
              <input type="text" id="pdfdesc" name="pdfdesc" value="Write the name of each decimal place indicated.">
              <button method="POST" type="button" class="btn" style="float: right">Update</button>
            </div>

          </div>
      </div>

    </div>
  <!--Generate button box-->
  <button type="submit" formmethod="post" class="upload"> <i class="fa fa-upload fa-2x"></i></button>
  <div class="btn_generate shadow">
  <!--  <input type="submit" class="btn-create shadow" value="GENERATE WORKSHEET  "/> -->
    <button type="button" class="btn-create shadow" onclick="send_section111(seed)">GENERATE WORKSHEET</button>
  </div>
</form>
  <!--End of the vertical option bar-->
</div>
  <!-- Exmaples
    <p><span>$$\overline{4}6,440 $$</span></p>
  -->


  <div class="wks-gen" style="width: 75%; float: right">
    <div class = "col-worksheet">

      <div class="wks-info">
        <div> <p class= "wks-name">Name: <span id="txt-studnetName"></span></p> </div>
        <div> <p class= "wks-date">Due Date: <span id="txt-dueDate"></span></p> </div>
      </div>

      <div class="wks-info2">
        <div> <p class= "wks-title"><span id="txt-title"></span></p> </div>
        <div> <p class= "wks-desc"><span id="txt-desc"></span></p> </div>
      </div>

      <div id="wks-problems">
      </div>

    </div>
  </div>

<script>
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("dropbtn");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
  </script>

<script> /*For option 1*/
  /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
  var dropdown = document.getElementsByClassName("easyopt");
  var i;

  for (i = 0; i < dropdown.length; i++) {
    dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
    dropdownContent.style.display = "none";
    } else {
    dropdownContent.style.display = "block";
    }
    });
  }
  </script>
</body>
{% endblock %}
