{% extends 'layout.html' %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}

<body>

  <style>
    div.h {margin: .5em 0;max-width: 70em;}
    pre {padding: .5em;}
  </style>

  {% for message in get_flashed_messages() %}
  <span class="alert-pop alert-pop--warning" onclick="removeAlert()">
    {{message}}
  </span>
{% endfor %}

  <!--MASTER LOCATION TO SAVE DATA-->
  <div class="side-bar shadow" style="float: left">
    <div class="menu_intro" style="padding: 24px">
      <h3 class="w3-bar-item">Worksheet Options</h3>
      <h6 style="color: rgb(94, 94, 94)">AGS Worksheet Generator</h6>

      <div id="readroot" style="display: none">
        <input type="button" value="-"
               onclick="this.parentNode.parentNode.removeChild(this.parentNode);" /><br />

        <div id="select"class="ltclass"></div>

        <div id="level"></div>

        <label class="auto-num-problem-font">Number of Problems*</label>
        <input class="resizeinput" type="number" id="numporb" name="numporb" min="1" max="200" value="15" required/>

        {% if option != "2" %}
          <label for="autogen" class="auto-num-problem-font">Auto Generate</label>
          <input for="autogen" class="checkbox" name="auto" type="checkbox" id="auto" value="checked" onclick="validate(id, {{option}})">


          <label class="num-problem-font" id="mint">Minimum Number*</label>
          <input type="number" id="min" name="min" min={{min}} max={{max}} value={{min}} required/>

          <label class="num-problem-font" id="maxt">Maximum Number*</label>
          <input type="number" id="max" name="max" min={{min}} max={{max}} value={{max}} required/>
        {%else%}
          <input for="autogen"id="auto"name="auto" type="checkbox" style="display: none;" checked required>
          <input type="number"id="min"name="min"value={{min}} style="display: none;" required/>
          <input type="number"id="max"name="max"value={{max}} style="display: none;" required/>
        {% endif %}
    </div>

    <form method="POST">
      <span id="writeroot"></span>
      <input type="button" onclick="moreFields()" value="+" />

  <!--Generate button box-->
  <!-- <button type="submit" formmethod="post" class="upload"> <i class="fa fa-upload fa-2x"></i></button> -->
  <div class="btn_generate shadow">
    <button type="submit" class="btn-create shadow" style="margin: 25px 0px 0px 25px;">GENERATE WORKSHEET</button>
  <!-- <button type="button" class="btn-create shadow" onclick="updatedpdf()">GENERATE WORKSHEET</button> -->
  </div>
</form>
</div>
</div>

<div class="h">
  <pre id="pretag" style="display: none;">
  </pre>
</div>

<script type="text/javascript">
  var counter = 0;
  function moreFields() {
      counter++;
      var newFields = document.getElementById("readroot").cloneNode(true);
      newFields.id = 'setofForm'+counter;
      newFields.style.display = 'block';
      var newField = newFields.childNodes;

      for (var i=0;i<newField.length;i++) {
        var theName = newField[i].name;
        if (theName) {newField[i].name = theName + counter;}

        var theid = newField[i].id;
        if (theid) {newField[i].id = theid + counter;}
      }

      var name = 'Ltarget' + (counter+1);
      document.getElementById("Ltarget").name = name;
      document.getElementsByName(name)[0].setAttribute("onchange", 'getmyid("' + document.getElementsByName(name)[0].name + '")');

      var name2 = 'level' + (counter+1);
      document.getElementById("levels").name = name2;

      var insertHere = document.getElementById("writeroot");
      insertHere.parentNode.insertBefore(newFields,insertHere);
  }
</script>

<script type="text/javascript"> //Jinja Option
  var ex = {{seed| tojson}};
  exampleupdate(ex);

    window.onload = function() {

      var jinja = {{selection| tojson}}; //create select
      dynamicSelection(jinja);

      var opt = {{option| tojson}}
      var diff = {{diffc| tojson}}; //create select
      dynamicDifficulty(diff, opt);

      moreFields(); //create table
      document.getElementsByName("Ltarget1")[0].setAttribute("onchange", 'getmyid("' + document.getElementsByName("Ltarget1")[0].name + '")');

      var runlatexLatexcgiURI="https://texlive.net/cgi-bin/latexcgi";
      var f2 = document.createElement("span");
          f2.innerHTML="<form style=\"display:none\" id=\"form2-pre" + 0 +
        "\" name=\"form2-pre" + 0 +
        "\" enctype=\"multipart/form-data\" action=\"" +
        runlatexLatexcgiURI +
        "\" method=\"post\" target=\"pre" + 0 +
        "ifr\"></form>";
      latexcgi('pre0');
    }
</script>

<script type="text/javascript">
  var aa = {{num| tojson}}; //create select
  var arrmin = [];
  var arrmax = [];

  for(let i = 1; i < aa.length; i++) {
    arrmin.push(aa[i]);
    arrmax.push(aa[i+1]);
    i++;
  }

  function getmyid(id) {
    console.log(id);
    var val = document.getElementsByName(id)[0];
    var digit = parseInt(id.charAt(id.length-1));
    document.getElementById('min' + digit).min = parseInt(arrmin[parseInt(val.value)-1]);
    document.getElementById('max' + digit).min = parseInt(arrmin[parseInt(val.value)-1]);
    document.getElementById('min' + digit).max = parseInt(arrmax[parseInt(val.value)-1]);
    document.getElementById('max' + digit).max = parseInt(arrmax[parseInt(val.value)-1]);
  }
</script>

</body>
{% endblock %}
