<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--ICONS-->
    <script src="https://kit.fontawesome.com/1b41f6b89b.js" crossorigin="anonymous"></script>
<!--
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
-->

    <!--CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainAnimation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mega dropdown.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popalert.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/test_tablecss.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testpreset.css') }}">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">


    <!--JS-->
    <script src="{{ url_for('static', filename='js/wkstgen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/userinfo.js') }}"></script>
    <script src="{{ url_for('static', filename='js/constvalues.js') }}"></script>
    <script src="{{ url_for('static', filename='js/runlatex.js') }}"></script>
    <script src="{{ url_for('static', filename='js/aceeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/example4pre1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dynamic.js') }}"></script>
    <script src="{{ url_for('static', filename='js/test_oper.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>

  <body>
          <ul class="navbar">
            <li><a id="navhome" href="/">Home</a></li>
<!-- START OF PRE-ALG -->
            <div class="pre-dropdown">
              <li><a id="navprealg" href="/prealgebra/1-1-1">Pre-Algebra</a></li> <!-- Maybe change this link with a dedicate navigation hub page -->
              <div class="pre-content">
                <div class="row">
                  <div class="column">
                    <h4>1. Reading Numbers</h4>
                    <a href="/prealgebra/1-1-1">Naming Decimal Places</a>
                    <a href="/prealgebra/1-1-2">Writing & Reading Numbers</a>
                    <a href="/prealgebra/1-1-3">Rounding Numbers</a>
                    <h4>2. Number Theory</h4>
                    <a href="/prealgebra/1-2-1">Divisibility and Factors</a>
                    <a href="/prealgebra/1-2-2">Factoring Numbers</a>
                    <a href="/prealgebra/1-2-3">Listing Monomials</a>
                    <a href="/prealgebra/1-2-4">Greatest Common Factors</a>
                    <a href="/prealgebra/1-2-5">Least Common Multiple</a>
                  </div>
                  <div class="column">
                    <h4>3. Arithmetic</h4>
                    <a href="/prealgebra/1-3-1">Converting Between Fractions and Decimals</a>
                    <a href="/prealgebra/1-3-2">Converting Between Percents, Fractions, and Decimals</a>
                    <a href="/prealgebra/1-3-3">Variable and Verbal Expressions</a>
                    <a href="/prealgebra/1-3-4">Adding and Subtracting Integers</a>
                    <a href="/prealgebra/1-3-5">Adding and Subtracting Decimals</a>
                    <a href="/prealgebra/1-3-6">Adding and Subtracting Fractions and Mixed Numbers</a>
                    <a href="/prealgebra/1-3-7">Dividing Integers</a>
                    <a href="/prealgebra/1-3-8">Multiplying Integers</a>
                  </div>

                  <div class="column">
                    <a href="/prealgebra/1-3-9">Multiplying Decimals</a>
                    <a href="/prealgebra/1-3-10">Multiplying and Dividing Fractions and Mixed Numbers</a>
                    <a href="/prealgebra/1-3-11">Order of Operations </a>
                    <h4>4. Algebraic Expressions</h4>
                    <a href="/prealgebra/1-4-1">Evaluating Variable Expressions</a>
                    <a href="/prealgebra/1-4-2">Simplifying Variable Expressions</a>
                    <a href="/prealgebra/1-4-3">Distributive Property</a>
                    <h4>5. Equations</h4>
                    <a href="/prealgebra/1-5-1">One-step Integers Equations</a>
                    <a href="/prealgebra/1-5-2">One-step Decimals Equations</a>
                  </div>

                  <div class="column">
                    <a href="/prealgebra/1-5-3">One-step Fractions Equations</a>
                    <a href="/prealgebra/1-5-4">One-step Word Problems</a>
                    <h4>6. Inequalities</h4>
                    <a href="/prealgebra/1-5-5">Two-step Integers Equations</a>
                    <a href="/prealgebra/1-5-6">Two-step Decimals Equations</a>
                    <a href="/prealgebra/1-5-7">Multi-step Equations</a>
                    <a href="/prealgebra/1-6-1">Graphing Single-variable Inequalities</a>
                    <a href="/prealgebra/1-6-2">Solving One-Step Inequalities by Adding/Subtracting</a>
                    <a href="/prealgebra/1-6-3">Solving One-Step Inequalities by Multiplication/Division</a>
                    <a href="/prealgebra/1-6-4">Solving Two-Step Inequalities</a>
                    <!--<a href="/prealgebra/1-6-5">Solving Multi-Step Inequalities*</a>-->

                  </div>

                  <div class="column">
                    <h4>7. Exponents and Radicals</h4>
                    <a href="/prealgebra/1-7-1">Exponents Basics</a>
                    <a href="/prealgebra/1-7-2">Exponents Division</a>
                    <a href="/prealgebra/1-7-3">Powers of Products</a>
                    <a href="/prealgebra/1-7-4">Scientific Notation</a>
                    <a href="/prealgebra/1-7-5">Square Roots</a>
                    <h4>8. Proportions and Percents</h4>
                    <a href="/prealgebra/1-8-1">Fractions, Decimals, and Percents</a>
                    <!-- <a href="/prealgebra/1-8-2">Percent Word Problems</a> -->
                    <a href="/prealgebra/1-8-3">Finding Percent Change</a>
                    <a href="/prealgebra/1-8-4">Markup, Discount, and Tax</a>
                  </div>

                  <div class="column">
                    <a href="/prealgebra/1-8-5">Proportions</a>
                    <a href="/prealgebra/1-8-6">Simple and Compound Interest</a>
                    <h4>9. Linear Functions</h4>
                    <a href="/prealgebra/1-9-1">Find the Slope</a>
                    <a href="/prealgebra/1-9-2">Find the Slope of the Line through Each Pair of Points</a>
                    <a href="/prealgebra/1-9-3">Find the Slope of Each Line*</a>
                    <a href="/prealgebra/1-9-4">Graphing Lines in Slope-Intercept Form*</a>
                    <!--<h4>10. Systems of EQ</h4>-->
                    <!--<a href="/prealgebra/1-10-1">Solving Systems of Equations by Graphing*</a>-->
                    <!--<a href="/prealgebra/1-10-2">Solving Systems of Equations by Substitution*</a>-->
                    <!--<a href="/prealgebra/1-10-3">Systems of Equations Word Problems*</a>-->
                  </div>

                </div>
              </div>
            </div>
<!-- END OF PRE-ALG -->

<!-- START OF AGS1 -->
            <div class="pre-dropdown">
              <li><a id="navprealg" href="/">AGS 1</a></li> <!-- change the reference to ded. link-->
              <div class="pre-content">
                <div class="row">
                  <div class="column">
                      <h4>Unit 1. Sequences</h4>
                      <a href="/AGS1/1-1-1">1.1.1 - Evaluate Equation</a> <!-- cut a different navbar method: pop branch method might be best option-->
                      <a href="/AGS1/1-1-2">1.1.2 - Graph The Ordered Pairs</a>
                      <a href="/AGS1/1-2-1">1.2.1 - Fill In The Sequence</a>
                      <a href="/AGS1/1-2-2">1.2.2 - The Meaning Of An Exponent</a>
                      <!--<a href="/AGS1/1-2-3">1.2.3 - Finding Patterns In Geometric Shapes*</a> <!-- Cant do until I figure out the preamble dynamics -->
                      <a href="/AGS1/1-3-1">1.3.1 - Reading The Table</a>
                      <a href="/AGS1/1-3-2">1.3.2 - Arithmetic Sequences</a>
                      <a href="/AGS1/1-3-3">1.3.3 - Geometric Sequences</a>
                      <a href="/AGS1/1-3-4">1.3.4 - So Should We Use Recursive Or Explicit</a>
                      <a href="/AGS1/1-4-1">1.4.1 - Arithmetic - Explicit & Recursive</a>

                  </div>
                  <div class="column">
                      <a href="/AGS1/1-4-2">1.4.2 - Find The Slope</a>
                      <a href="/AGS1/1-5-1">1.5.1 - Information To Geometric Sequence*</a> <!-- need word problem csv -->
                      <!--<a href="/AGS1/1-5-2">1.5.2 - Slope Intercept Form*</a> <!-- Issue with Gen + latex compile -->
                      <!--<a href="/AGS1/1-5-3">1.5.3 - Geometric Sequence To Explicit Recursive*</a> <!-- No Code -->
                      <a href="/AGS1/1-6-1">1.6.1 - Percent Change</a>
                      <a href="/AGS1/1-6-2">1.6.2 - Is It Arithmetic Or Geometric Sequence</a>
                      <a href="/AGS1/1-8-1">1.8.1 - Fill The Gap</a>
                      <a href="/AGS1/1-9-1">1.9.1 - Which Grows Faster</a>
                      <!--<a href="/AGS1/1-10-1">1.10.1 - Information To Arithmetic Sequence*</a> <!-- No Code -->
                      <h4>Unit 2. Linear/Exponential Functions</h4>
                      <!--<a href="/AGS1/2-1-1">2.1.1 - Ratio*</a> <!-- No code -->
                      <a href="/AGS1/2-2-1">2.2.1 - Find The Slope In Each Representation</a>
                      <!--<a href="/AGS1/2-2-2">2.2.2 - Indicate The Relationship*</a> <!-- No code -->
                      <a href="/AGS1/2-2-3">2.2.3 - Solve The Following Equations</a>
                  </div>

                  <div class="column">
                      <a href="/AGS1/2-2-4">2.2.4 - Find The Recursive and Explicit Equations</a>
                      <a href="/AGS1/2-3-1">2.3.1 - Rules Of Exponents</a>
                      <!--<a href="/AGS1/2-3-2">2.3.2 - Details Of Linear and Geometric Sequences*</a> <!-- MULT DIFFICULTTY NOO & GEN ISSUE TypeError: Invalid comparison of non-real zoo -->
                      <a href="/AGS1/2-3-3">2.3.3 - Fill In The Blanks</a>
                      <a href="/AGS1/2-3-4">2.3.4 - Find The Slope</a>
                      <a href="/AGS1/2-4-1">2.4.1 - Square Roots</a>
                      <a href="/AGS1/2-4-2">2.4.2 - Fill In The Table</a>
                      <a href="/AGS1/2-5-1">2.5.1 - Higher Order Roots</a>
                      <!--<a href="/AGS1/2-5-2">2.5.2 - Evaluate The Function</a>-->
                      <!--<a href="/AGS1/2-6-1">2.6.1 - Percent Increase / Decrease*</a> <!-- Issue with latex compilation/generator -->
                  </div>

                  <div class="column">
                      <!--<a href="/AGS1/2-6-2">2.6.2 - Monthly / Exponential*</a> <!-- CODE IS BROKEN (LIST INDEX OUT OF RANGE) -->
                      <a href="/AGS1/2-7-1">2.7.1 - Fill In The Table*</a>
                      <a href="/AGS1/2-7-2">2.7.2 - Radical and Fraction Exponent*</a>
                      <a href="/AGS1/2-7-3">2.7.3 - X-intercept & Y-intercept*</a>
                      <a href="/AGS1/2-8-1">2.8.1 - Fill In The Missing Numbers As Arithmetic & Geometric Sequence*</a>
                      <a href="/AGS1/2-10-1">2.10.1 - Slope-Intercept / Point-Slope Form*</a>
                      <a href="/AGS1/2-10-2">2.10.2 - Justification*</a>
                      <a href="/AGS1/2-11-1">2.11.1 - Compare Different Characteristics*</a>
                      <h4>Unit 3. Features of Functions</h4>
                      <a href="/AGS1/3-1-1">3.1.1 - Find The Value of X*</a>
                  </div>

                  <div class="column">
                      <a href="/AGS1/3-2-1">3.2.1 - Point Of Intersection*</a>


                      <a href="/AGS1/3-2-2">3.2.2 - Increasing / Decreasing / Constant / Domain & Range *</a>
                      <a href="/AGS1/3-3-1">3.3.1 - Fill In The Table & State The Point Of Intersection*</a>
                      <a href="/AGS1/3-3-2">3.3.2 - Finding Features Of Function*</a>
                      <a href="/AGS1/3-3-3">3.3.3 - Finding Explicit And Recursive Equations*</a>
                      <a href="/AGS1/3-4-1">3.4.1 - Find The Indicated Values*</a>
                      <a href="/AGS1/3-4-2">3.4.2 - Graph The New Equation*</a>
                      <a href="/AGS1/3-4-3">3.4.3- Compare Two Functions*</a>
                  </div>

                  <!--<div class="column">-->
                  <!--    <a href="/AGS1/3-4-4">3.4.4 - Domain & Range / Increasing or Decreasing*</a>-->
                  <!--    <a href="/AGS1/3-5-1">3.5.1 - Find The Indicated Values*</a>-->
                  <!--    <a href="/AGS1/3-6-1">3.6.1 - Function Transformations*</a>-->
                  <!--    <h4>Unit 4. Equations and Inequalities</h4>-->
                  <!--    <a href="/AGS1/"></a>-->
                  <!--</div>-->


                  <!--<div class="column">-->
                  <!--    <h4>5. Systems of Equations and Inequalities*</h4>-->
                  <!--    <h4>6. Transformations and Symmetry*</h4>-->
                  <!--    <h4>7. Congruence, Construction, and Proof*</h4>-->
                  <!--    <h4>8. Connecting Algebra and Geometry*</h4>-->
                  <!--    <h4>9. Modeling Data*</h4>-->
                  <!--</div>-->

                </div>
              </div>
            </div>
<!-- END OF AGS1 -->

<!-- START OF TEST -->
            <div class="pre-dropdown">
              <li><a id="navprealg" href="/test">Test</a></li>
              <div class="pre-content">
              </div>
            </div>
<!-- END OF TEST -->

<!-- START OF TOGGLE LOGIN/OUT -->

            <!--{% if data %}-->
            <!--  <li style="float:right"><a class="active" href="/logout">Logout</a></li>-->
            <!--    <li style="float:right">-->
            <!--        <a class="profile" href="../user">-->
            <!--            <i class="fa fa-users"></i>-->
            <!--        </a>-->
            <!--    </li>-->
            <!--{%else%}-->
            <!--  <li style="float:right"><a class="" href="/login">Login</a></li>-->
            <!--  <li style="float:right"><a class="" href="/signup">Sign Up</a></li>-->
            <!--{%endif %}-->

<!-- END OF TOGGLE LOGIN/OUT -->

          </ul>
        </div>
      </div>
    </div>

    {% block content %} <!-- Contents -->
    {% endblock %}
  </body>
</html>